<div class='sfc'>
    <div class='coins'>
        {{#if showCurrency}}
        <div class="currency-display">
            {{#if currencyName}}
            <span class='label'>{{currencyName}}:</span>
            {{/if}}
            <span class='value'>{{numberFormat currencyAmount decimals=2}}</span>
            {{/if}}
        </div>
        {{#each coinData}}
        <div class="coin-group">
            <label for="flags.sfc.{{countFlagName}}"><img name="icon-{{@index}}" src='{{img}}' class="coin-icon" data-tooltip="{{name}}" title='{{name}}' /></label>
            <input name='flags.sfc.{{countFlagName}}' type='number' data-dtype='Number' value='{{count}}' />
        </div>
        {{/each}}
        {{#if showInitButton}}
        <button type="button" class="button init-button" data-key="init-actor-button">Init Coins</button>
        {{/if}}
        <button type="button" class="coins manager-button" id="manager-button"><label>{{localize "SFC.CoinManager.ButtonName"}}</label></button>
    </div>
</div>