<p></p>
<table>
    <tbody>
        <tr>
            <th class="main-heading" colspan="5">{{localize 'SFC.CoinItemDescription.TableName'}}</th>
        </tr>
        <tr>
            <th class="sub-heading" style="text-align: left">{{localize 'SFC.CoinItemDescription.CoinHeader'}}</th>
            {{#each coinDescriptionDatas}}
            <th class="sub-heading" style="text-align: center;">{{shortNameUpper}}</th>
            {{/each}}
        </tr>

        {{#each coinDescriptionDatas}}
        <tr>
            <td>{{name}} {{#if shortName}}({{shortName}}){{/if}}</td>
            {{#each columns}}
            <td class="centered">{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
<p></p>