<div class='sfc'>
    <div class='coins'>
        {{#if showCurrency}}
        {{#if currencyName}}
        <span class='label'>{{currencyName}}:</span>
        {{/if}}
        <span class='value'>{{numberFormat currencyAmount decimals=2}}</span>
        {{/if}}

        {{#each coinData}}
        <img name="icon-{{@index}}" src='{{img}}' class="coin-icon" title='{{name}}' />
        <input name='flags.sfc.{{countFlagName}}' type='number' data-dtype='Number' value='{{count}}' />
        {{/each}}

        <button type="button" class="coins manager-button" id="manager-button"><label>{{localize "SFC.CoinManager.ButtonName"}}</label></button>
    </div>
</div>