<p>{{{localize "SFC.InitActors.Dialog.SingleContents1"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents2"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents3"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents4"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents5"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents6"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents7"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents8"}}}</p>
<br>
<br>