<p>{{{localize "SFC.InitActors.Dialog.AllContents1"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents2"}}} {{{localize "SFC.InitActors.Dialog.Contents3"}}} {{{localize "SFC.InitActors.Dialog.Contents4"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents5"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents6"}}} {{{localize "SFC.InitActors.Dialog.Contents7"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents8"}}}</p>

<p>{{{localize "SFC.InitActors.Dialog.Contents9"}}}</p>

<div class="formgroup" style="display: flex; justify-content: flex-end;">
    <select id="behaviour">
        <option value="keep-currency">{{{localize "SFC.InitActors.Dialog.BehaviourOptions.KeepCurrencyValue"}}}</option>
        <option value="keep-coins">{{{localize "SFC.InitActors.Dialog.BehaviourOptions.KeepCoinsValue"}}}</option>
    </select>
</div>
<br>
<br>