<div class='sfc'>
  <div class='coins'>
    <label for="behaviour">{{localize "Purchase Behaviour:"}}</label>
    <select id="behaviour">
      <option value="currency" {{#if (eq behaviour "currency" )}}selected{{/if}}>{{{localize
        "SFC.InitActors.Dialog.BehaviourOptions.KeepCurrencyValue"}}}</option>
      <option value="coins" {{#if (eq behaviour "coins" )}}selected{{/if}}>{{{localize
        "SFC.InitActors.Dialog.BehaviourOptions.KeepCoinsValue"}}}</option>
    </select>
  </div>
</div>
<div class='sfc'>
  <div class='coins'>
    {{#if (eq behaviour "currency")}}
    <label for="cost">{{localize "Cost::"}}</label>
    <input name='cost' type='text' data-dtype='Number' value='{{cost}}' />
    {{else}}
    <label for="cost">{{localize "Cost::"}}</label>
    {{#each coinData}}
    <img name="icon-{{@index}}" src='{{img}}' class="coin-icon" title='{{name}}' />
    <input name='cost-{{type}}' type='text' data-dtype='Number' value='{{count}}' />
    {{/each}}
    {{/if}}
  </div>
</div>

<br>
<br>